.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 20px 10px;
}
.city {
  display: flex;
  flex-direction: column;
}
.weather {
  display: flex;
  flex-direction: column;
}
button {
}
